/************  Defaults ***********/


h1, h2, h3{
	font-family: "Sigmar One", sans-serif;
}

body{
	font-family: Georgia, serif;
	line-height: 1.5em;
}

div#wrapper{

	width: 320px;
	margin: 0 auto;
}

@media only screen and (min-width: 600px){
	div#wrapper{
		width: 600px;
	}
}

img{
	width: 100%;
}

/************  Header ***********/


/************  Nav ***********/


/************  Main ***********/


/************  Foot ***********/
